/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* MY CODE */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

p {
  color: #0f0f0f;
}

main {
  padding-top: 100px;
}

.container {
    width: 100%;
    height: 500px;
    background-color: #C0C0C0;

    display: flex; /* Rearrange items in the container */
    flex-wrap: wrap; /* Items pushed on to next row/column */
    flex-direction: row; /* Items will go from left to right end of the line */
    flex-flow: row wrap; /* Combines flex-direction & flex-wrap */
    /* justify-content:  Define how much space horizontaly between items
    justify-content: center;  Centers items with no space
    justify-content: space-around;  Centers items with spacing but items furthest to the left and right have half spacing
    justify-content: space-between;  Centers items with equal spacing only between items
    justify-content: flex-end;  All items are pushed furthest to the right
    justify-content: flex-start;
    justify-content: space-evenly; All items are evenly spaced
    */
    justify-content: space-between;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .head-brand {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 800;
  color: #0f0f0f;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 16px;
  color: #0f0f0f;
  text-transform: uppercase;
}

header .head-cases {
  display: none;
}

@media screen and (min-width: 1000px) {
  header .head-brand {
    margin: 32px 0;
    text-align: left;
    line-height: 36px;
    padding: 0 20px 0 40px;
    border-right: 2px solid rgba(10, 10, 10, 0.5);
    float: left;
  }

  header nav ul {
    margin: 20px 0 0 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
  }

  header .head-cases {
    display: block;
    font-family: Catamaran;
    font-size: 16px;
    color: #0f0f0f;
    text-transform: uppercase;
    line-height: 36px;
    border: 2px solid rgba(10, 10, 10, 0.5);
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;
  }
}

/* INDEX */

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("../img/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h1 {
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 800;
  line-height: 75px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #050505;
}

.index-banner h2 {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #050505;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: calc(16.66666666666667% - 7.291666666666667%);
  border: 2px solid rgba(10, 10, 10, 0.5);
}

.index-links a:last-child div {
  margin-bottom: 16px;
}

.index-boxlink1 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(255, 235, 0, 0.75); /* #FFEB00 */
}
.index-boxlink2 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(255, 100, 0, 0.75); /* #FF6400 */
}
.index-boxlink3 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(110, 220, 0, 0.75); /* #6EDC00 */
}
.index-boxlink4 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(255, 0, 64, 0.75); /* #FF0040 */
}
.index-boxlink5 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(30, 144, 255, 0.75); /* #1E90FF */
}
.index-boxlink6 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(194, 32, 169, 0.75); /* #C220A9 */
}

.index-links div h3 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: calc(1000px + 16.66666666666667vw);
    margin: 0 auto;
  }

  .index-banner {
    width: 100%;
    height: 450px;
  }

  .index-banner h2 {
    display: block;
    width: 600px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
    /* border-left: 2px solid rgba(10, 10, 10, 0.25);
    border-right: 2px solid rgba(10, 10, 10, 0.25); */
    padding: 0 8px;
  }

  .index-links div {
    margin: 16px 8px 0;
    height: 225px;
    float: left;
  }

  .index-boxlink3,
  .index-boxlink4,
  .index-boxlink5,
  .index-boxlink6 {
    width: calc(25% - 20px) !important;
  }

  .index-boxlink1,
  .index-boxlink2 {
    width: calc(50% - 20px) !important;
  }

  .index-links div h3 {
    font-size: calc(30px + 0.5vw);
    line-height: 225px;
  }
}

/* PROJECTS */

.projects-links {
  margin: 0 auto;
  padding: 5px;
  height: 490px;
  width: 990px;
  overflow: hidden;
}

main h2 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.projects-link {
  float: left;
  background-color: rgba(192, 192, 192, 0.75);
  margin: 5px;
  width: calc(25% - 10px) !important;
  height: calc(50% - 10px) !important;
}

.projects-link p {
  padding-top: 45%;
  font-family: Catamaran;
  font-size: calc(20px + 1vw);
  font-weight: 500;
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
}

/* CASE */

.case-vid h2 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.case-vid video {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

.case-vid article h3 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-transform: uppercase;
  overflow: hidden;
}

.case-vid article p {
  font-family: Catamaran;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24px + 0.14vw);
  color: #0f0f0f;
  text-transform: uppercase;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  padding: 30px 0;
}

/* FOOTER */

footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #050505;
  overflow: hidden;
}

footer ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-family: Catamaran;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
}

.footer-links-projects {
  display: none;
}

.footer-sm-links {
  width: 40px;
  float: right;
}

.footer-sm-links i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .footer-links-projects {
    display: block;
  }

  footer ul {
    padding-right: 30px;
  }

  footer ul li p {
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
  .footer-links-main {
    border-right: 2px solid #fff;
    padding-right: 20px;
  }

  .footer-links-projects {
    margin-left: 20px;
  }
}
