/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* MY CODE */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --text-color: #c0c0c0;
  --border: solid 1px #111;
}

:hover {
  color: red;
}

h1:hover {
  color: red;
  padding-left: 50px;
  font-size: 30px;
}

a:active,
a:visited {
  color: green;
}

.list-example-1 p:last-child {
  color: blue;
}

.list-example-2 p:nth-child(2n + 0) {
  /* every second paragraph starting from the first(0) / (even) / (odd) */
  color: pink;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #fafafa;
}

p {
  color: #0f0f0f;
}

main {
  padding-top: 100px;
}

form {
  width: 300px;
}

input {
  width: 100%;
}

textarea {
  resize: vertical;
  max-height: 100px;
}

table {
  width: 400px;
  /*border-spacing: 40px;*/
}

th,
caption {
  text-align: left;
}

th,
td {
  padding: 10px;
}

table,
th,
td {
  border: 1px solid rgba(10, 10, 10, 0.5);
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

tbody tr:nth-child(even) {
  background-color: rgba(100, 100, 100, 0.25);
}

input,
textarea {
  outline: none;
  border: 1px solid #c0c0c0;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.5); /* x-axis y-axis blur */
  border: 1px solid rgb(255, 0, 0);
}

::-webkit-input-placeholder {
  color: red;
  opacity: 1;
}

::-moz-placeholder {
  color: red;
  opacity: 1;
}

:-ms-input-placeholder {
  color: red;
  opacity: 1;
}

::-ms-input-placeholder {
  color: red;
  opacity: 1;
}

::placeholder {
  color: red;
  opacity: 1;
}

:-ms-input-placeholder {
  color: red;
}

::-ms-input-placeholder {
  color: red;
  opacity: 1;
}

.container {
  width: 100%;
  height: 500px;
  background-color: #c0c0c0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex; /* Rearrange items in the container */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; /* Items pushed on to next row/column */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; /* Items will go from left to right end of the line */
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; /* Combines flex-direction & flex-wrap */
  /* HORIZONTAL
    
    justify-content:  Define how much space horizontaly between items
    justify-content: center;  Centers items with no space
    justify-content: space-around;  Centers items with spacing but items furthest to the left and right have half spacing
    justify-content: space-between;  Centers items with equal spacing only between items
    justify-content: flex-end;  All items are pushed furthest to the right
    justify-content: flex-start;
    justify-content: space-evenly; All items are evenly spaced
    */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* align-items:  Defines how items are positioned on the line */
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  /* align-items: flex-end;  All items are pushed to the bottom of lines
    align-items: center;  All items are centered within the box-lines
    align-items: stretch;  Divs are stretched to take up all available space
    align-items: baseline;  All items are centered horizontaly on the line regardless of individual height

    VERTICAL

    align-content: center;  All items are centered in the container as much as possible
    align-content: space-around;  All items have the same space at top and bottom in each line
    */
  -ms-flex-line-pack: justify;
  align-content: space-between; /* All items are spaced as far apart as possible */
}

.item {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.item2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.item3 {
  background-color: red;
  /* flex-grow: 1;
  flex-shrink: 1;  Does the opposite of flex-grow */
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.item4 {
  background-color: green;
  /* flex-grow: 2;  This item has twice as much space after it 
  flex-basis: 60%; */
  -webkit-box-flex: 0;
  -ms-flex: 0 /* grow */ 1 /* shrink */ 100px;
  flex: 0 /* grow */ 1 /* shrink */ 100px; /* basis */
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100px;
  z-index: 1000; /* 4th/Top layer */
}

header .head-brand {
  font-family: Catamaran;
  font-size: 24px;
  font-weight: 800;
  color: #0f0f0f;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 15px;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 15px;
  color: #0f0f0f;
  text-transform: uppercase;
}

header .head-cases {
  display: none;
}

@media screen and (min-width: 1000px) {
  header .head-brand {
    margin: 32px 0;
    text-align: left;
    line-height: 36px;
    padding: 0 20px 0 40px;
    border-right: 2px solid rgba(10, 10, 10, 0.5);
    float: left;
  }

  header nav ul {
    margin: 20px 0 0 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 60px;
  }

  header .head-cases {
    display: block;
    font-family: Catamaran;
    font-size: 16px;
    color: #0f0f0f;
    text-transform: uppercase;
    line-height: 36px;
    border: 2px solid rgba(10, 10, 10, 0.5);
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    padding: 0 20px;
  }
}

/* INDEX */

.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("../img/banner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h1 {
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 800;
  line-height: 75px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #050505;
  z-index: 10; /* 2nd layer */
}

.index-banner h2 {
  font-family: "Cormorant Garamond";
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #050505;
  z-index: 10; /* 2nd layer */
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: calc(16.66666666666667% - 7.291666666666667%);
  border: 2px solid rgba(10, 10, 10, 0.5);
}

.index-links a:last-child div {
  margin-bottom: 16px;
}

.index-boxlink1 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(255, 235, 0, 0.75); /* #FFEB00 */
}
.index-boxlink2 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(255, 100, 0, 0.75); /* #FF6400 */
}
.index-boxlink3 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(110, 220, 0, 0.75); /* #6EDC00 */
}
.index-boxlink4 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(255, 0, 64, 0.75); /* #FF0040 */
}
.index-boxlink5 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(30, 144, 255, 0.75); /* #1E90FF */
}
.index-boxlink6 {
  -webkit-box-shadow: 2px 2px 8px #050505;
  box-shadow: 2px 2px 8px #050505;
  background-color: rgba(194, 32, 169, 0.75); /* #C220A9 */
}

.index-links div h3 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-align: center;
}

.section-one {
  --test: 10px;
  --text-size: 14px;
}

.textbox {
  --test: 20px;
}

.section-one p {
  color: var(--text-color);
  font-size: var(--text-size);
}

.section-two p {
  color: var(--text-color);
}

.img-test {
  width: 500px;
  height: 500px;
  background-image: url("../img/logo.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: .5s; */

  transition: all 2s ease-in-out 0.5s;
}

.img-test:hover {
  background-image: url("../img/logo-hover.png");
}

.button-test {
  display: block;
  width: 128px;
  height: 60px;
  padding-left: 20px;
  background-color: lightblue;
  font-size: 20px;
  font-family: arial;
  font-weight: 600;
  color: #222;
  line-height: 60px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;

  transition: all 0.5s ease-in-out;
}

.button-test:hover {
  width: 170px;
  height: 300px;
  padding-left: 500px;
  background-color: red;
}

.button-test span {
  padding-left: 30px;
  color: white;
  font-weight: 900;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    width: calc(1000px + 16.66666666666667vw);
    margin: 0 auto;
    position: relative;
  }

  .footer-wrapper {
    width: calc(1000px + 16.66666666666667vw);
    margin: 0 auto;
    position: relative;
  }

  .index-banner {
    width: 100%;
    height: 450px;
  }

  .index-banner h2 {
    display: block;
    width: 600px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
    /* border-left: 2px solid rgba(10, 10, 10, 0.25);
    border-right: 2px solid rgba(10, 10, 10, 0.25); */
    padding: 0 8px;
  }

  .index-links div {
    margin: 16px 8px 0;
    height: 225px;
    float: left;
  }

  .index-boxlink3,
  .index-boxlink4,
  .index-boxlink5,
  .index-boxlink6 {
    width: calc(25% - 20px) !important;
  }

  .index-boxlink1,
  .index-boxlink2 {
    width: calc(50% - 20px) !important;
  }

  .index-links div h3 {
    font-size: calc(30px + 0.5vw);
    line-height: 225px;
  }

  .transitions {
    padding-bottom: 300px;
  }
}

/* PROJECTS */

.projects-links {
  margin: 0 auto;
  padding: 5px;
  height: 490px;
  width: 990px;
  overflow: hidden;
}

main h2 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.projects-link {
  float: left;
  background-color: rgba(192, 192, 192, 0.75);
  margin: 5px;
  width: calc(25% - 10px) !important;
  height: calc(50% - 10px) !important;
}

.projects-link p {
  padding-top: 45%;
  font-family: Catamaran;
  font-size: calc(20px + 1vw);
  font-weight: 500;
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
}

/* CASE */

.case-vid h2 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

.case-vid video {
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

.case-vid article h3 {
  font-family: Catamaran;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: calc(93px + 0.14vw);
  color: #0f0f0f;
  text-transform: uppercase;
  overflow: hidden;
}

.case-vid article p {
  font-family: Catamaran;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24px + 0.14vw);
  color: #0f0f0f;
  text-transform: uppercase;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  padding: 30px 0;
}

/* GALLERY */

.gallery-links-h2 {
  font-family: Catamaran;
  font-size: 28px;
  font-weight: 500;
  color: #0f0f0f;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.gallery-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Method 1
.gallery-img {
  flex-basis: 23%;
  margin: 10px;
}

.gallery-img {
  width: 100%;
}
*/

/* Method 2 */
.gallery-img {
  -ms-flex-preferred-size: 90%;
  flex-basis: 90%;
  margin: 10px;
}

.gallery-img {
  width: 100%;
}

@media screen and (min-width: 762px) {
  .gallery-links-h2 {
    font-size: 28px;
  }

  .gallery-img {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
  }
}

.move-me {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative; /* Will move box relative to its original location */
  top: 100px; /* Move box downwards 100px from the top */
}

.move-me2 {
  width: 100px;
  height: 100px;
  background-color: red;
  /* Trigger something to appear somewhere else on the page */
  position: absolute; /* Will move box to a position regardless of its 
  position in the document */
  top: 0px; /* Move box to the top right of the page */
  right: 0px;
}

.move-me3 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: fixed; /* Will move box to a position regardless of its position 
  in the document and ignores its parent container positioning */
  top: 100px; /* Move box to the top right of the page */
  right: 0px;
}

.move-me4 {
  width: 100%;
  height: 100px;
  background-color: yellow;
  position: -webkit-sticky;
  position: sticky; /* When in viewport this element sticks to the viewport 
  regardless of scrolling */
  top: 100px; /* This element will stay in the viewport 100px from the top */
}

.section-1 {
  width: 100%;
  height: 400px;
  background-color: #ccc;
  z-index: 100; /* 3rd layer */
}

.section-2 {
  width: 50%;
  height: 1400px;
  background-color: #aaa;
  position: relative; /* .move-me2 box now stays within its container */
}

/* FOOTER */

footer {
  width: calc(920px + 16.66666666666667vw);
  padding: 40px 40px;
  background-color: #050505;
  overflow: hidden;
  z-index: 1000; /* 4th/Top layer */
}

footer ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-family: Catamaran;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
}

.footer-links-projects {
  display: none;
}

.footer-sm-links {
  width: 40px;
  float: right;
}

.footer-sm-links i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .whitespace { /* Should use border-top on footer instead */
    height: 20px;
    width: calc(1000px + 16.66666666666667vw);
    background-color: #fafafa;
    position: fixed;
    bottom: 280px;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
  .footer-absolute {
    position: absolute;
  }

  .footer-links-projects {
    display: block;
  }

  footer ul {
    padding-right: 30px;
  }

  footer ul li p {
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
  .footer-links-main {
    border-right: 2px solid #fff;
    padding-right: 20px;
  }

  .footer-links-projects {
    margin-left: 20px;
  }
}

/* Pseudo Elements */

.element-1::first-line {
  background-color: yellow;
  color: red;
}

.element-2::first-letter {
  background-color: green;
  color: white;
}

.element-3::selection {
  background-color: green;
  color: blue;
}

.element-4::before {
  content: attr(href) " - This is a paragraph -";
}

.element-5::before {
  content: url("../img/galleryimg.jpg");
}
